@charset "UTF-8";

:root {
    ---tituloprincipal:'Montserrat', sans-serif;
    ---titulosecundario:'Caprasimo', cursive;
    ---tituloterciario:'Montserrat', sans-serif;
    ---cor: rgb(169, 6, 6);
}

* {
    text-decoration: none;
}

body {
    background-color: black;
    color: white;
}


.img {
    display: none;
}

article {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.img-cll {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#img-fla-logo-cll {
    border-bottom: 1px solid rgba(0, 0, 0, 0.304);
    padding-bottom: 10px;
}

#img-fla-simbolo-cll {
    border-bottom: 1px solid var(---cor);
    padding-bottom: 10px;
}

.texto {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
}
